@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.gridWrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.gridRow {
  display: flex;
}

.grid {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  transition: all 0.3s linear;
}

@media (min-width: 640px) {
  .grid {
    width: 4rem;
    height: 4rem;
  }
}
.grid:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.grid.black {
  background: rgb(0, 0, 0);
}

.grid.blue {
  background: rgba(0, 0, 255, 0.3);
  display: grid;
  place-items: center;
}

.grid.green {
  background: rgba(0, 255, 0, 0.3);
}

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.knight-img {
  width: 50%;
}